header > img{
    display: inline-block;
  }
  header > h1{
    display: inline-block;
  }
  #title{
    margin: 0;
  }
  #img-div{
    margin: 1em auto;
  }
  #image{
    width: max(20vw, 50%);
    height: auto;
    max-width: 100%;
    aspect-ratio: 16/12;
    /*This is how you center images*/
    display: block;
    margin: 0 auto; 
  }
  #img-caption{
    text-align: center;
  }
  #tribute-info{
    text-align: center;
  }
  #tribute-link{
    color: blue;
  }
  a{
    color: blue;
  }
  