#img-div{
    margin: 1em auto;
  }
  #image{
    width: max(20vw, 75%);
    height: auto;
    aspect-ratio: 16/12;
    /*This is how you center images*/
    display: block;
    margin: 0 auto; 
  }
  #tribute-info{
    text-align: center;
  }
  header > img{
    display: inline-block;
  }
  header > p{
    display: inline-block;
  }